{% extends "layout.html" %}

{% block genres_sidebar %}
{% include "menu_slidebar.html" %}
{% endblock %}

{% block content %}
<div class="bg-white rounded-div p-4">
    <div>
        <h2 class="text-primary font-weight-bold">Про нас</h2>
    </div>
    <div>
        <p class="text-muted small">
            <strong>Bookstore</strong> — це сучасна національна книжкова платформа, яка об'єднує читачів, авторів,
            видавців та книголюбів в єдину екосистему.
            Ми пишаємося тим, що є найбільшим онлайн-магазином книг в Україні. Наша місія — перетворити Україну на одну
            з найначитаніших країн Європи,
            адже знання та культура — це ключ до національного розвитку та перемоги.
        </p>
        <h3 class="text-dark small mt-4">Що ми пропонуємо</h3>
        <ul class="text-muted small">
            <li>Понад <strong>500 тисяч книг</strong> у паперовому, електронному та аудіоформатах.</li>
            <li>Книги <strong>більш ніж 80 мовами</strong>, від класики до найсучасніших бестселерів.</li>
            <li>Швидку доставку книг по всій Україні.</li>
            <li>Ексклюзивні видання та колекційні серії для справжніх поціновувачів літератури.</li>
        </ul>
        <h3 class="text-dark small mt-4">Наша місія</h3>
        <p class="text-muted small">
            Ми не просто продаємо книги, а й активно популяризуємо культуру читання в Україні.
            Підтримуючи українські видавництва, авторів та книговидавців, ми робимо вклад у розвиток літературного ринку
            та збагачення національної культури.
            Наша ціль — створити простір, де кожен знайде саме ту книгу, яка змінить його життя.
        </p>
        <h3 class="text-dark small mt-4">Історія Bookstore</h3>
        <p class="text-muted small">
            <strong>2010 рік</strong> — заснування Bookstore як невеликого інтернет-магазину для книголюбів.<br>
            <strong>2015 рік</strong> — відкрили перший офлайн-магазин у Києві.<br>
            <strong>2018 рік</strong> — здобули премію «Кращий книжковий онлайн-магазин України».<br>
            <strong>2020 рік</strong> — започаткували проєкт «Книга для кожного», в рамках якого даруємо книги дитячим
            будинкам і бібліотекам.<br>
        </p>
        <h3 class="text-dark small mt-4">Наші цінності</h3>
        <ul class="text-muted small">
            <li><strong>Доступність:</strong> Ми прагнемо, щоб книги були доступні кожному, незалежно від місця
                проживання чи фінансових можливостей.</li>
            <li><strong>Інновації:</strong> Постійно впроваджуємо нові технології, щоб зробити процес купівлі та читання
                книг максимально зручним.</li>
            <li><strong>Підтримка локальних авторів:</strong> Ми співпрацюємо з українськими письменниками та
                видавництвами, допомагаючи їм знайти свою аудиторію.</li>
            <li><strong>Екологічність:</strong> Використовуємо екологічну упаковку та підтримуємо проєкти з переробки
                паперу.</li>
        </ul>
        <h3 class="text-dark small mt-4">Контакти</h3>
        <p class="text-muted small">
            <strong>Телефон:</strong> +380 (44) 123-45-67<br>
            <strong>Email:</strong> info@bookstore.ua<br>
            <strong>Адреса:</strong> просп. Перемоги, 37, Київ, Україна<br>
            <strong>Графік роботи:</strong> Пн-Пт 9:00 - 18:00
        </p>
    </div>
</div>
{% endblock content %}