{% extends "layout.html" %}

{% block genres_sidebar %}
    {% include "genres_sidebar.html" %}
{% endblock %}

{% block content %}
<div class="bg-white rounded-div">
    <div class="d-flex p-3">

        <div class="col-md-4">
            <img src="{{ url_for('static', filename='img/book' + book.ID_book|string) + '.jpg' }}" 
                 class="img-fluid rounded" 
                 alt="{{ book.Book_name }}">
        </div>

        <div class="col-md-8">
            <h1 class="mb-3">{{ book.Book_name }}</h1>
            <h5 class="text-muted">Автор: {{ book.A_Name }} {{ book.A_Patronymics if book.A_Patronymics else '' }} {{ book.A_Surname }}</h5>
            <h6 class="text-muted">Жанр: {{ book.Genre_Name }}</h6>
            <h6 class="text-muted">Видавництво: {{ book.Publishing_House }}</h6>
            <!-- в бд треба виправити рік публікації на рік видавництва -->
            <h6 class="text-muted">Рік видавництва: {{ book.Year_of_publication }}</h6>
            <h6 class="text-primary">Ціна: {{ book.Price }} грн</h6>
            <p class="mt-3">{{ book.Descriptions }}</p>

            <!-- Відгуки, якщо треба такий функціонал, потрбіно це додати і в бд -->
            <div class="mt-4">
                <h5>Оцінки та відгуки</h5>
                <form method="POST" action="/submit_review/{{ book.ID_book }}">
                    <div class="form-group">
                        <label for="review">Ваш відгук</label>
                        <textarea class="form-control" id="review" name="review" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Відправити</button>
                </form>
                <div class="mt-3">
                    <h6>Відгуки:</h6>
                    <ul class="list-unstyled">
                        <!-- {% for review in reviews %}
                        <li>
                            <strong>{{ review.user_name }}</strong>: {{ review.content }}
                        </li>
                        {% endfor %} -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
