{% extends "layout.html" %}

{% block genres_sidebar %}
{% include "menu_slidebar.html" %}
{% endblock %}

{% block content %}
<div class="bg-white rounded-div p-4">
    <div>
        <h2 class="text-primary font-weight-bold">Доставка</h2>
    </div>
    <div>
        <p class="text-muted small">
            У <strong>Bookstore</strong> ми забезпечуємо зручні і швидкі варіанти доставки, щоб ваші книги доставлялися
            в найкоротші терміни без зайвих клопотів.
        </p>

        <h3 class="text-dark small mt-4">Способи доставки</h3>
        <p class="text-muted small">
            Ми пропонуємо кілька варіантів доставки, щоб ви могли обрати той, який підходить саме вам:
        </p>
        <ul class="text-muted small">
            <li><strong>Кур'єрська доставка:</strong> Найшвидший спосіб отримати ваші книги. Кур'єр доставить ваше
                замовлення прямо до дверей. Доступно для замовлень у межах Києва та великих міст України.</li>
            <li><strong>Пошта України:</strong> Доставка через поштові служби. Ми відправляємо замовлення за допомогою
                Укрпошти, що дає можливість отримати замовлення в будь-якому населеному пункті України.</li>
            <li><strong>Доставка до пункту самовивезення:</strong> Ви можете забрати замовлені книги в одному з наших
                магазинів або у партнерських точках по всій країні.</li>
        </ul>

        <h3 class="text-dark small mt-4">Терміни доставки</h3>
        <p class="text-muted small">
            Ми прагнемо до максимально швидкої доставки вашого замовлення. Ось середні терміни доставки для різних
            регіонів:
        </p>
        <ul class="text-muted small">
            <li><strong>Київ та передмістя:</strong> 1-2 робочих дні</li>
            <li><strong>Інші міста України:</strong> 3-5 робочих днів</li>
            <li><strong>Сільські райони:</strong> 5-7 робочих днів</li>
        </ul>

        <h3 class="text-dark small mt-4">Вартість доставки</h3>
        <p class="text-muted small">
            Вартість доставки залежить від обраного способу доставки та регіону. Для точного розрахунку вартості
            замовлення за допомогою кур'єрської служби або пошти, будь ласка, заповніть форму на сторінці оформлення
            замовлення.
        </p>

        <h3 class="text-dark small mt-4">Безкоштовна доставка</h3>
        <p class="text-muted small">
            Ми пропонуємо безкоштовну доставку для замовлень на суму від <strong>1000 грн</strong> по всій території
            України. Це дозволяє нашим клієнтам економити на доставці при здійсненні великих покупок.
        </p>

        <h3 class="text-dark small mt-4">Міжнародна доставка</h3>
        <p class="text-muted small">
            Для наших міжнародних клієнтів ми пропонуємо доставку за межі України. Вартість та терміни міжнародної
            доставки розраховуються індивідуально залежно від країни отримання. Для отримання точної інформації
            звертайтеся до нашої служби підтримки.
        </p>

        <h3 class="text-dark small mt-4">Статус замовлення</h3>
        <p class="text-muted small">
            Після оформлення замовлення ви отримаєте електронний лист з підтвердженням та інформацією про статус вашого
            замовлення. Ви можете відстежувати процес доставки, а також змінювати адресу доставки за необхідності. Для
            цього використовуйте посилання для відстеження замовлення, яке ми надсилаємо на вашу електронну пошту.
        </p>

        <h3 class="text-dark small mt-4">Проблеми з доставкою</h3>
        <p class="text-muted small">
            Якщо у вас виникли будь-які проблеми з доставкою (затримки, пошкоджені товари, неправильна адреса),
            звертайтеся до нашої служби підтримки. Ми зробимо все можливе, щоб вирішити ситуацію на вашу користь.
        </p>

    </div>
</div>
{% endblock content %}