{% extends "layout.html" %}

{% block genres_sidebar %}
{% include "menu_slidebar.html" %}
{% endblock %}

{% block content %}
<div class="bg-white rounded-div p-4">
    <div>
        <h2 class="text-primary font-weight-bold">Часті запитання</h2>
    </div>
    <div>
        <h3 class="text-dark small mt-4">1. Як оформити замовлення?</h3>
        <p class="text-muted small">
            Оформити замовлення можна через наш сайт. Для цього виберіть книгу, додайте її до кошика і натисніть
            "Оформити замовлення". Далі заповніть необхідні поля для доставки та виберіть спосіб оплати.
        </p>

        <h3 class="text-dark small mt-4">2. Як дізнатися статус замовлення?</h3>
        <p class="text-muted small">
            Після оформлення замовлення ви отримаєте електронного листа з підтвердженням і номером замовлення. Для
            відстеження статусу замовлення перейдіть за посиланням у листі або зверніться до служби підтримки.
        </p>

        <h3 class="text-dark small mt-4">3. Які способи оплати доступні?</h3>
        <p class="text-muted small">
            Ми пропонуємо різноманітні способи оплати, включаючи кредитні та дебетові картки, оплату через
            онлайн-платежі, а також при отриманні замовлення кур'єру або у відділенні.
        </p>

        <h3 class="text-dark small mt-4">4. Яка вартість доставки?</h3>
        <p class="text-muted small">
            Вартість доставки залежить від обраного способу та регіону доставки. Для більшості міст України доставка
            безкоштовна при замовленні на суму понад 1000 грн.
        </p>

        <h3 class="text-dark small mt-4">5. Чи можу я змінити адресу доставки після оформлення замовлення?</h3>
        <p class="text-muted small">
            Так, ви можете змінити адресу доставки до того моменту, поки ваше замовлення не було відправлено. Зверніться
            до нашої служби підтримки, і ми допоможемо змінити адресу.
        </p>

        <h3 class="text-dark small mt-4">6. Як я можу повернути товар?</h3>
        <p class="text-muted small">
            Якщо ви отримали товар, який не відповідає вашим вимогам або має дефекти, ви можете повернути його протягом
            14 днів з моменту отримання, заповнивши форму на нашому сайті або звернувшись до служби підтримки.
        </p>

        <h3 class="text-dark small mt-4">7. Чи є у вас програма лояльності?</h3>
        <p class="text-muted small">
            Ні, на жаль, поки немає.
        </p>

        <h3 class="text-dark small mt-4">8. Як можна зв'язатися з вами?</h3>
        <p class="text-muted small">
            Ви можете зв'язатися з нами за допомогою телефону, електронної пошти або через наші соціальні мережі.
        </p>

        <h3 class="text-dark small mt-4">9. Як стежити за новинами та акціями?</h3>
        <p class="text-muted small">
            Підписуйтеся на нашу розсилку, щоб першими дізнаватися про нові книги, акції та спеціальні пропозиції. Також
            ми регулярно публікуємо новини в наших соціальних мережах.
        </p>

        <h3 class="text-dark small mt-4">10. Як можна стати автором або партнером?</h3>
        <p class="text-muted small">
            Якщо ви хочете співпрацювати з нами як автор або видавець, звертайтесь за адресою publishing@bookstore.ua.
            Ми завжди відкриті до нових партнерств та проектів.
        </p>
    </div>
</div>
{% endblock content %}