{% extends "layout.html" %}

{% block genres_sidebar %}
{% include "menu_slidebar.html" %}
{% endblock %}

{% block content %}
<div class="bg-white rounded-div p-4">
    <div>
        <h2 class="text-primary font-weight-bold">Повернення товару/гарантія</h2>
    </div>
    <div>
        <h3 class="text-dark small mt-4">1. Повернення товару</h3>
        <p class="text-muted small">
            Якщо ви з якої-небудь причини не задоволені покупкою або товар не відповідає вашим вимогам, ви маєте право
            повернути товар протягом 14 днів з моменту отримання.
            Для повернення товару необхідно, щоб:
        </p>
        <ul class="text-muted small">
            <li>Товар не був використаний і знаходився в оригінальній упаковці.</li>
            <li>Не було пошкоджень або ознак використання товару.</li>
            <li>У вас є документ, що підтверджує покупку (чек або електронне підтвердження замовлення).</li>
        </ul>
        <p class="text-muted small">
            Щоб повернути товар, зверніться до нашої служби підтримки або заповніть форму повернення на нашому сайті. Ми
            запропонуємо вам інструкцію по поверненню товару.
        </p>

        <h3 class="text-dark small mt-4">2. Повернення товарів, що мають дефекти</h3>
        <p class="text-muted small">
            Якщо ви отримали товар з дефектами або пошкодженнями, будь ласка, зверніться до нас протягом 7 днів з
            моменту отримання товару. Для повернення товару з дефектами або пошкодженнями:
        </p>
        <ul class="text-muted small">
            <li>Товар повинен бути в тому ж стані, в якому він був отриманий (не використаний).</li>
            <li>Вам необхідно надати фото товару з дефектом для уточнення проблеми.</li>
            <li>Ви можете отримати безкоштовне повернення або заміну товару, якщо дефект виник через нашу помилку або
                пошкодження під час транспортування.</li>
        </ul>
        <p class="text-muted small">
            Для повернення товару з дефектом, будь ласка, зв'яжіться з нами через контактні дані.
        </p>

        <h3 class="text-dark small mt-4">3. Повернення електронних товарів (книги в електронному форматі, сертифікати
            тощо)</h3>
        <p class="text-muted small">
            Повернення електронних товарів можливе лише за умови, якщо вони не були завантажені або активовані після
            покупки. Якщо ви зіткнулися з технічними проблемами або помилками при використанні товару, ми готові
            допомогти вам вирішити проблему або обміняти товар.
        </p>

        <h3 class="text-dark small mt-4">4. Як повернути товар?</h3>
        <p class="text-muted small">
            Щоб повернути товар, будь ласка, дотримуйтеся наступних кроків:
        </p>
        <ol class="text-muted small">
            <li>Заповніть форму повернення на нашому сайті або зв'яжіться з нашою службою підтримки.</li>
            <li>Після отримання запиту, ми надамо вам інструкції та адресу для повернення товару.</li>
            <li>Після отримання товару, ми проведемо перевірку та повернемо кошти на ваш рахунок або обміняємо товар.
            </li>
        </ol>
        <p class="text-muted small">
            Зазначте, що повернення товару можливе лише за умови, що товар не був використаний та має оригінальну
            упаковку. Вартість доставки при поверненні товару оплачена покупцем.
        </p>

        <h3 class="text-dark small mt-4">5. Гарантія на товар</h3>
        <p class="text-muted small">
            Ми надаємо гарантію на більшість товарів, що продаються в нашому магазині. Термін гарантії залежить від
            категорії товару та виробника:
        </p>
        <ul class="text-muted small">
            <li>Для книжок та електронних товарів гарантія наявності актуального контенту (для електронних книг) або
                фізичних пошкоджень не надається.</li>
            <li>Гарантійне обслуговування здійснюється за рахунок продавця, якщо дефекти були виявлені в перші 14 днів
                після покупки.</li>
        </ul>
        <p class="text-muted small">
            Для отримання гарантійного обслуговування зверніться до нас через службу підтримки, надайте копію чека або
            підтвердження покупки та опишіть проблему.
        </p>

        <h3 class="text-dark small mt-4">6. Що не підлягає поверненню?</h3>
        <p class="text-muted small">
            Згідно з умовами нашої політики, не підлягають поверненню наступні товари:
        </p>
        <ul class="text-muted small">
            <li>Товари, що були використані або не збереглися в оригінальній упаковці.</li>
            <li>Електронні книги або сертифікати, якщо товар був завантажений або активований.</li>
            <li>Книги, що мають дефекти, викликані неправомірним використанням.</li>
        </ul>

        <h3 class="text-dark small mt-4">7. Питання та відповіді</h3>
        <p class="text-muted small">
            Якщо у вас залишилися питання щодо повернення товару або гарантії, звертайтесь до нашої служби підтримки. Ми
            завжди готові допомогти вам!
        </p>
    </div>
</div>

{% endblock content %}