{% extends "layout.html" %}

{% block genres_sidebar %}
{% include "genres_sidebar.html" %}
{% endblock %}

{% block content %}
<div class="bg-white rounded-div">
    <div id="bannerCarousel" class="carousel slide p-3" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/img/photo1.jpg" class="d-block w-100" alt="Слайд 1">
            </div>
            <div class="carousel-item">
                <img src="../static/img/photo2.jpg" class="d-block w-100" alt="Слайд 2">
            </div>
            <div class="carousel-item">
                <img src="../static/img/photo3.jpg" class="d-block w-100" alt="Слайд 3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#bannerCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Попередній</span>
        </a>
        <a class="carousel-control-next" href="#bannerCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Наступний</span>
        </a>
    </div>
    <div class="row p-3">
        <h2 class="px-3">Всі книги</h2>
    </div>

    <div class="row px-3">
        <!-- Сортування -->
        {% include 'sort_dropdown.html' %}
    </div>

    <div class="row p-3">
        {% for book in books %}
        <div class="col-6 col-md-2 mb-4">
            <div class="card h-100 border-0 shadow-none book-card">
                <a href="/book/{{ book.ID_book }}">
                    <img src="data:image/jpeg;base64,{{ book.Photo_data }}" class="card-img-top book-image" alt="{{ book.Book_name }}">
                </a>
                <div class="card-body book-card-body">
                    <a href="/book/{{ book.ID_book }}" class="text-decoration-none text-dark">
                        <h6 class="card-title"><b>{{ book.Book_name }}</b></h6>
                    </a>
                    <h6 class="card-text">{{ book.A_Name }} {{ book.A_Patronymics if book.A_Patronymics else '' }} {{
                        book.A_Surname }}</h6>
                    <h6 class="card-text text-primary">Ціна: {{ book.Price }} грн</h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}