<div class="col-md-2">
    <div>
        <ul class="list-group">
            <li class="list-group-item small">
                <a href="/delivery" class="text-decoration-none text-dark w-100 d-block">
                    Доставка
                </a>
            </li>
            <li class="list-group-item small">
                <a href="/payment" class="text-decoration-none text-dark w-100 d-block">
                    Оплата
                </a>
            </li>
            <li class="list-group-item small">
                <a href="/guarantee" class="text-decoration-none text-dark w-100 d-block">
                    Повернення товару/гарантія
                </a>
            </li>
            <li class="list-group-item small">
                <a href="/contact" class="text-decoration-none text-dark w-100 d-block">
                    Контакти
                </a>
            </li>
            <li class="list-group-item small">
                <a href="/faq" class="text-decoration-none text-dark w-100 d-block">
                    Часті запитання
                </a>
            </li>
            <li class="list-group-item small">
                <a href="/privacy-policy" class="text-decoration-none text-dark w-100 d-block">
                    Політика конфіденційності
                </a>
            </li>
        </ul>
    </div>
</div>
