{% extends "layout_admin.html" %}

{% block search_form %}
<form action="/search_orders" method="GET" class="d-flex">
    <input type="text" name="query" class="form-control search-input" placeholder="Знайти замовлення..."
        aria-label="Пошук" value="{{ request.args.get('query', '') }}">
    <button type="submit" class="btn btn-primary search-button ml-2">Пошук</button>
</form>
{% endblock %}

{% block content %}
<div class="bg-white rounded-div p-4">
    <h2 class="mb-4">Список замовлень</h2>
    <table class="table table-striped">
        <thead>
            <tr class="align-middle" style="font-size: 1.3rem;">
                <th scope="col" class="py-3">ID замовлення</th>
                <th scope="col" class="py-3">Дата</th>
                <th scope="col" class="py-3">Деталі</th>
                <th scope="col" class="py-3">Коментар</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr class="align-middle" style="font-size: 1rem;">
                <td class="py-2">{{ order.ID_orders }}</td>
                <td class="py-2">{{ order.Date_of_orders }}</td>
                <td class="py-2">
                    <a href="{{ url_for('order_details', order_id=order['ID_orders']) }}"
                        class="btn btn-sm btn-primary">
                        Деталі
                    </a>
                </td>
                <td class="py-2">
                    {{ order.Comment if order.Comment else 'Коментар відсутній' }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}